body {
  overflow-x: hidden;
}

header {
  width: 25%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #171717;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
header .menu {
  flex: 1.5;
  font: 25px/1 "IKEA Sans";
  color: #e9e9e9;
}
header .logo {
  flex: 5;
  font: bold 28px/1 "IKEA Sans";
  color: #e9e9e9;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#visual {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#visual .visualWrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 0.8fr 1.7fr 1.7fr 3fr;
  backdrop-filter: brightness(0.6);
}
#visual .visualWrap .bg {
  height: 100%;
  border: 1px solid rgba(59, 59, 59, 0.5);
  color: yellow;
}
#visual .visualWrap .bg:nth-of-type(2) {
  grid-column: span 3;
}
#visual .visualWrap .bg:nth-of-type(5) {
  display: flex;
  background: #171717;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}
#visual .visualWrap .bg:nth-of-type(5) .menu {
  flex: 1.5;
  font: 25px/1 "IKEA Sans";
  color: #e9e9e9;
}
#visual .visualWrap .bg:nth-of-type(5) .logo {
  flex: 5;
  font: bold 28px/1 "IKEA Sans";
  color: #e9e9e9;
}
#visual .visualWrap .bg:nth-of-type(7) {
  grid-column: span 3;
}
#visual .visualWrap .bg:nth-of-type(8) {
  padding: 20px 1vw 0px;
  font: bold 16px/1 "IKEA Sans";
  color: #e9e9e9;
  border: 1px solid #eee;
}
#visual .visualWrap .bg:nth-of-type(9) {
  padding: 140px 1vw 0px;
  font: bold 16px/1 "IKEA Sans";
  color: #e9e9e9;
  text-align: start;
}
#visual .visualWrap .bg:nth-of-type(11) {
  grid-row: span 2;
}
#visual .visualWrap .bg:nth-of-type(12) {
  grid-column: span 4;
  grid-row: span 4;
  color: #e9e9e9;
  padding: 60px 0vw 0px;
}
#visual .visualWrap .bg:nth-of-type(12) h1 {
  width: 420px;
  font: bold 30px/1 "IKEA Sans";
  text-align: justify;
  word-break: break-all;
}
#visual .visualWrap .bg:nth-of-type(12) p {
  font: bold 16px/1 "IKEA Sans";
  text-align: justify;
  word-break: break-all;
  margin-bottom: 20px;
}
#visual .visualWrap .bg:nth-of-type(13) {
  text-align: end;
  padding: 130px 1vw 0px;
  background: #fec202;
  font: bold 16px/1 "IKEA Sans";
  color: #333;
  box-shadow: 0 0 50px 15px rgba(254, 194, 2, 0.45);
  border: none;
}
#visual .visualWrap .bg:nth-of-type(14) {
  grid-row: span 2;
}

#products {
  width: 100vw;
  height: 450px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 10vw 96px;
}
#products .productsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#products .productsContainer .productsTit {
  width: 100%;
  height: 100%;
  flex: 1;
  background: #f9f9f9;
  font: bold 26px/7 "IKEA Sans";
  color: #333;
}
#products .productsContainer .productsSub {
  width: 100%;
  height: 100%;
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#products .productsContainer .productsSub .slideWrap {
  width: 100%;
  height: 50%;
  flex: 2.5;
  display: flex;
  gap: 20px;
}
#products .productsContainer .productsSub .slideWrap .slideItem {
  width: 20%;
  height: 100%;
  background: #f0f0f0;
}
#products .productsContainer .productsSub .btnWrap {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  gap: 20px;
}
#products .productsContainer .productsSub .btnWrap .arrowBtns {
  width: 18.5185185185%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
#products .productsContainer .productsSub .btnWrap .arrowBtns .leftArrowBtn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: #171717;
  font: 24px "IKEA Sans";
  color: #eee;
}
#products .productsContainer .productsSub .btnWrap .arrowBtns .rigtArrowBtn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: #171717;
  font: 24px/5px "IKEA Sans";
  color: #eee;
}
#products .productsContainer .productsSub .btnWrap .circleBtns {
  width: 18.5185185185%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 2vw 0px;
  gap: 20px;
}
#products .productsContainer .productsSub .btnWrap .circleBtns button {
  width: 25%;
  height: 15px;
  border-radius: 50%;
  border: none;
  background: #cccccc;
}
#products .productsContainer .productsSub .btnWrap .hyperBtns {
  width: 18.5185185185%;
  height: 100%;
  font: 16px/1 "IKEA Sans";
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
