.html,
html,
body {
	display: flex;
	flex-direction: column;
}

.location {
	width: 100vw;
	min-height: calc(100vh - 400px);

	.subVisual {
		width: 100%;
		height: 480px;
		position: relative;
		overflow: hidden;

		video {
			object-fit: contain;
			object-position: 0vw -28vw;
		}

		.background {
			width: 50%;
			height: 80px;
			background: white;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.titContainer {
		width: 100%;
		height: 300px;
		padding: 150px 15vw 246px;

		h1 {
			text-align: left;
			font: bold 70px/1 $ikeaFontKo;
			color: $fontColorBl;
			margin-top: 20px;
			margin-bottom: 150px;
		}
	}

	.trafficBtn {
		width: 119px;
		height: 41px;
		background: $tableBtn;
		border: 1px solid $ikeaBl;
		border-radius: 5px;
		color: $fontColorW;
		border: none;
		transform: translate(0, -5%);
		font: 15px/1 $ikeaFontKo;
		float: right;
		margin-bottom: 50px;
		cursor: pointer;
	}

	.mapPrintBtn {
		width: 119px;
		height: 41px;
		background: #fff;
		border: 1px solid $ikeaBl;
		border-radius: 5px;
		color: $fontColorBl;
		transform: translate(0, -5%);
		font: 15px/1 $ikeaFontKo;
		float: right;
		margin-left: 10px;
		margin-bottom: 50px;
		cursor: pointer;
	}

	#map {
		width: 100%;
		height: 600px;
		margin: 0px auto;
		position: relative;
	}

	.storeListContainer {
		width: 100%;
		height: 600px;
		display: flex;
		flex-wrap: wrap;

		.left {
			width: 35%;
			height: 100%;
			background: #fff;

			h2 {
				margin-top: 40px;
				font: bold 51px/1 $ikeaFontKo;
				color: $ikeaBl;
				margin-bottom: 50px;
			}

			p {
				padding-right: 50px;
				font: 18px/1.5 $ikeaFontKo;
				color: $fontColorBl;
				text-align: justify;
				word-break: break-all;
			}
		}
	}

	.rightContainer {
		width: 65%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;

		.list {
			width: calc(100% / 2);
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			cursor: pointer;

			&:nth-of-type(1) {
				width: 50%;
				height: 50%;
				background: #fff;
				display: flex;
				flex-direction: column;
				border-left: 1px solid $grey;

				&:hover {
					background: $bgW;
				}

				&.on {
					background: $boxGrey;
				}

				.storeName {
					flex: 0.5;
					text-align: left;
					padding: 32px 32px 32px 20px;
					margin-top: 5px;

					.tit {
						font: bold 51px/1 $ikeaFontKo;
						background: repeating-linear-gradient(45deg, #333, #333 0.5px, #e7e8fc 0.5px, #e7e8fc 1.2px);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						color: transparent;

						&.on {
							color: $fontColorBl;
							background: none;
							-webkit-background-clip: initial;
							-webkit-text-fill-color: $fontColorBl;
							background-clip: initial;
						}
					}
				}

				.storeAddress {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;

					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.storeOpen {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;
					p {
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;

						span {
							color: $fontColorBl;
							font: bold 16px/1.8 $ikeaFontKo;
						}
					}
					h4 {
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
						padding-left: 2em;
					}
				}

				.storePhone {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;

					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}
			}

			&:nth-of-type(2) {
				width: 50%;
				height: 50%;
				background: #fff;
				display: flex;
				flex-direction: column;
				border-left: 1px solid $grey;
				text-align: left;

				&:hover {
					background: $bgW;
				}

				&.on {
					background: $boxGrey;
				}

				.storeName {
					flex: 0.5;
					text-align: left;
					padding: 32px 32px 32px 20px;
					margin-top: 5px;

					.tit {
						font: bold 51px/1 $ikeaFontKo;
						background: repeating-linear-gradient(45deg, #333, #333 0.5px, #e7e8fc 0.5px, #e7e8fc 1.2px);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						color: transparent;

						&.on {
							color: $fontColorBl;
							background: none;
							-webkit-background-clip: initial;
							-webkit-text-fill-color: $fontColorBl;
							background-clip: initial;
						}
					}
				}

				.storeAddress {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;

					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.storeOpen {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;
					p {
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;

						span {
							font: bold 16px/1.8 $ikeaFontKo;
						}
					}
					h4 {
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
						padding-left: 2em;
					}
				}

				.storePhone {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;

					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.storeSite {
					width: 100%;
					height: auto;
					padding-left: 20px;
					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}
			}

			&:nth-of-type(3) {
				width: 50%;
				height: 50%;
				background: #fff;
				display: flex;
				flex-direction: column;
				border-left: 1px solid $grey;
				text-align: left;

				&:hover {
					background: $bgW;
				}

				&.on {
					background: $boxGrey;
				}

				.storeName {
					flex: 0.5;
					text-align: left;
					padding: 32px 32px 32px 20px;
					margin-top: 5px;

					.tit {
						font: bold 51px/1 $ikeaFontKo;
						background: repeating-linear-gradient(45deg, #333, #333 0.5px, #e7e8fc 0.5px, #e7e8fc 1.2px);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						color: transparent;

						&.on {
							color: $fontColorBl;
							background: none;
							-webkit-background-clip: initial;
							-webkit-text-fill-color: $fontColorBl;
							background-clip: initial;
						}
					}
				}

				.storeAddress {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;

					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.storeOpen {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;
					p {
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;

						span {
							font: bold 16px/1.8 $ikeaFontKo;
						}
					}
					h4 {
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
						padding-left: 2em;
					}
				}

				.storePhone {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;

					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.storeSite {
					width: 100%;
					height: auto;
					padding-left: 20px;
					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}
			}
			&:nth-of-type(4) {
				width: 50%;
				height: 50%;
				background: #fff;
				display: flex;
				flex-direction: column;
				border-left: 1px solid $grey;
				text-align: left;

				&:hover {
					background: $bgW;
				}

				&.on {
					background: $boxGrey;
				}

				.storeName {
					flex: 0.5;
					text-align: left;
					padding: 32px 32px 32px 20px;
					margin-top: 5px;

					.tit {
						font: bold 51px/1 $ikeaFontKo;
						background: repeating-linear-gradient(45deg, #333, #333 0.5px, #e7e8fc 0.5px, #e7e8fc 1.2px);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						color: transparent;

						&.on {
							color: $fontColorBl;
							background: none;
							-webkit-background-clip: initial;
							-webkit-text-fill-color: $fontColorBl;
							background-clip: initial;
						}
					}
				}

				.storeAddress {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;

					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.storeOpen {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;
					p {
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
						span {
							font: bold 16px/1.8 $ikeaFontKo;
						}
					}
					h4 {
						font: 16px/1.8 $ikeaFontKo;
						color: $fontColorBl;
						padding-left: 2em;
					}
				}

				.storePhone {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					padding-left: 20px;

					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}

				.storeSite {
					width: 100%;
					height: auto;
					padding-left: 20px;
					p {
						font: 16px/1 $ikeaFontKo;
						color: $fontColorBl;
					}
				}
			}
		}
	}

	.contactContainer {
		width: 100%;
		height: 500px;

		.contact {
			width: 100%;
			height: 100%;
			float: left;
			border-top: 1px solid $grey;

			&:nth-of-type(1) {
				width: 35%;
				height: 100%;

				h2 {
					margin-top: 40px;
					font: bold 51px/1 $ikeaFontKo;
					color: $ikeaBl;
					margin-bottom: 50px;
				}

				p {
					padding-right: 50px;
					font: 18px/1.5 $ikeaFontKo;
					color: $fontColorBl;
					text-align: justify;
					word-break: break-all;
				}
			}

			&:nth-of-type(2) {
				width: 32.5%;
				height: 100%;
				border-left: 1px solid $grey;
				padding: 43px 1vw 43px;
				font: 16px/1 $ikeaFontKo;
				color: $fontColorBl;
				margin-bottom: 150px;
				background: #fff;

				label {
					width: 100%;
				}
				input {
					display: block;
					width: 100%;
					height: 35px;
					margin-top: 10px;
					margin-bottom: 30px;
					padding: 5px;
					border-radius: 5px;
					background: #fff;
					border: 1px solid #cfcfcf;
					font: 16px/1 $ikeaFontKo;
					color: $fontColorBl;

					&:focus {
						outline: none;
					}
				}
				textarea {
					display: block;
					width: 100%;
					height: 100px;
					margin-top: 10px;
					margin-bottom: 30px;
					background: #fff;
					padding: 1px;
					border-radius: 5px;
					border: 1px solid #cfcfcf;
					font: 16px/1 $ikeaFontKo;
					color: $fontColorBl;
					resize: none;

					&:focus {
						outline: none;
					}
				}

				.submitBtn {
					width: 150px;
					height: 41px;
					background: $tableBtn;
					border: 1px solid $ikeaBl;
					border-radius: 5px;
					color: $fontColorW;
					border: none;
					font: 15px/1 $ikeaFontKo;
					cursor: pointer;
				}
			}

			&:nth-of-type(3) {
				width: 32.5%;
				height: 100%;
				border-left: 1px solid $grey;
				padding: 43px 1vw 43px;
				font: 16px/1 $ikeaFontKo;
				color: $fontColorBl;
				margin-bottom: 150px;
				background: #fff;
				font: 40px/1 $ikeaFontKo;

				.svgBox {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;

					//path모션 설정방법
					//1.개발자도구에서 stroke-dasharray값을 계속 늘리면 다시 선이 온전히 완성되는 수치값 파악
					//2.위의 수치값을 stroke-dasharray로 지정 (가시영역에서의 선의 길이)
					//3.똑같은 수치값을 마이너스로 stroke-dashoffset에 지정
					//4.hover시 stroke-dashoffset값을 0으로 변경

					svg {
						path {
							fill: $grey;
							stroke: $fontColorBl;
							stroke-width: 10;
							//선의 빈간격 설정, 빈간격크기만큼 선의 그어져있는 부분도 같이 늘어남
							stroke-dasharray: 17292;
							stroke-dashoffset: 17292;
							stroke-linecap: round;
							transition: stroke-dashoffset 1s;
						}
					}

					&:hover {
						svg {
							path {
								stroke-dashoffset: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.location {
		.subVisual {
			height: 380px;

			video {
				object-fit: contain;
				object-position: -45vw -58vw;
			}

			.background {
				background: #fff;
			}
		}

		.titContainer {
			padding: 150px 10vw 246px;

			h1 {
				font: bold 70px/1 $ikeaFontKo;
				margin-top: 20px;
				margin-bottom: 96px;
			}
		}

		.trafficBtn {
			font: 12.8px/1 $ikeaFontKo;
		}

		.mapPrintBtn {
			font: 12.8px/1 $ikeaFontKo;
		}

		#map {
			width: 100%;
			height: 500px;
		}

		.storeListContainer {
			width: 100%;
			height: auto;

			.left {
				width: 40%;
				h2 {
					margin-top: 60px;
					font: bold 56px/1 $ikeaFontKo;
				}

				p {
					padding-right: 50px;
					font: 14.4px/1.8 $ikeaFontKo;
				}
			}
		}

		.rightContainer {
			width: 60%;
			height: 100%;

			.list {
				&:nth-of-type(1) {
					width: 100%;

					padding-bottom: 32px;

					.storeName {
						.tit {
							font: bold 51px/1 $ikeaFontKo;
						}
					}

					.storeAddress {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}

					.storeOpen {
						width: 100%;

						p {
							font: 14.4px/1.8 $ikeaFontKo;

							span {
								font: bold 14.4px/1.8 $ikeaFontKo;
							}
						}
						h4 {
							font: 14.4px/1.8 $ikeaFontKo;
						}
					}

					.storePhone {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}

					.storeSite {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}
				}

				&:nth-of-type(2) {
					width: 100%;
					height: 50%;
					padding-bottom: 32px;

					.storeName {
						.tit {
							font: bold 51px/1 $ikeaFontKo;
						}
					}

					.storeAddress {
						width: 100%;
						height: auto;
						margin-bottom: 10px;
						padding-left: 20px;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}

					.storeOpen {
						width: 100%;

						p {
							font: 14.4px/1.8 $ikeaFontKo;

							span {
								font: bold 14.4px/1.8 $ikeaFontKo;
							}
						}
						h4 {
							font: 14.4px/1.8 $ikeaFontKo;
						}
					}

					.storePhone {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}

					.storeSite {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}
				}

				&:nth-of-type(3) {
					width: 100%;
					padding-bottom: 32px;

					.storeName {
						.tit {
							font: bold 51px/1 $ikeaFontKo;
						}
					}

					.storeAddress {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}

					.storeOpen {
						width: 100%;

						p {
							font: 14.4px/1.8 $ikeaFontKo;

							span {
								font: bold 14.4px/1.8 $ikeaFontKo;
							}
						}
						h4 {
							font: 14.4px/1.8 $ikeaFontKo;
						}
					}

					.storePhone {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}

					.storeSite {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}
				}
				&:nth-of-type(4) {
					width: 100%;
					padding-bottom: 32px;

					.storeName {
						.tit {
							font: bold 51px/1 $ikeaFontKo;
						}
					}

					.storeAddress {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}

					.storeOpen {
						width: 100%;

						p {
							font: 14.4px/1.8 $ikeaFontKo;

							span {
								font: bold 14.4px/1.8 $ikeaFontKo;
							}
						}
						h4 {
							font: 14.4px/1.8 $ikeaFontKo;
						}
					}

					.storePhone {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}

					.storeSite {
						width: 100%;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}
				}
			}
		}

		.contactContainer {
			width: 100%;
			height: 500px;

			.contact {
				&:nth-of-type(1) {
					width: 40%;

					h2 {
						margin-top: 60px;
						font: bold 56px/1 $ikeaFontKo;
					}

					p {
						padding-right: 50px;
						font: 14.4px/1.8 $ikeaFontKo;
					}
				}

				&:nth-of-type(2) {
					width: 60%;
					padding: 43px 2vw 43px;
					font: 14.4px/1 $ikeaFontKo;
					margin-bottom: 0px;

					input {
						font: 14.4px/1 $ikeaFontKo;
					}
					textarea {
						font: 14.4px/1 $ikeaFontKo;
					}

					.submitBtn {
						width: 130px;
						height: 41px;
						font: 12.8px/1 $ikeaFontKo;
					}
				}

				&:nth-of-type(3) {
					width: 60%;
					float: right;
					padding: 43px 2vw 43px;
					border-top: none;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.location {
		.subVisual {
			height: 300px;

			video {
				object-position: -205vw -110vw;
			}

			.background {
			}
		}

		.titContainer {
			padding: 96px 5vw 0px;
			h1 {
				font: bold 36px/1 $ikeaFontKo;
				margin-top: 20px;
				margin-bottom: 96px;
			}
		}

		.trafficBtn {
			font: 11.2px/1 $ikeaFontKo;
			height: 32.8px;
			width: 100px;
			margin-bottom: 20px;
		}

		.mapPrintBtn {
			font: 11.2px/1 $ikeaFontKo;
			height: 32.8px;
			width: 100px;
			display: none;
			margin-bottom: 20px;
		}

		#map {
			height: 300px;
		}

		.storeListContainer {
			width: 100%;
			height: auto;

			.left {
				width: 100%;
				h2 {
					margin-top: 40px;
					font: bold 49px/1 $ikeaFontKo;
					margin-bottom: 30px;
				}

				p {
					padding-right: 0px;
					font: 12.6px/1.8 $ikeaFontKo;
					margin-bottom: 30px;
				}
			}
		}

		.rightContainer {
			width: 100%;
			height: 100%;

			.list {
				&:nth-of-type(1) {
					width: 100%;
					padding-bottom: 32px;
					border-left: none;

					.storeName {
						.tit {
							font: bold 49px/1 $ikeaFontKo;
						}
					}

					.storeAddress {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}

					.storeOpen {
						width: 100%;

						p {
							font: 12.6px/1.8 $ikeaFontKo;

							span {
								font: bold 12.6px/1.8 $ikeaFontKo;
							}
						}
						h4 {
							font: 12.6px/1.8 $ikeaFontKo;
						}
					}

					.storePhone {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}

					.storeSite {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}
				}

				&:nth-of-type(2) {
					width: 100%;
					border-left: none;

					.storeName {
						.tit {
							font: bold 49px/1 $ikeaFontKo;
						}
					}

					.storeAddress {
						width: 100%;
						height: auto;
						margin-bottom: 10px;
						padding-left: 20px;

						p {
							font: 14.4px/1 $ikeaFontKo;
						}
					}

					.storeOpen {
						width: 100%;

						p {
							font: 12.6px/1.8 $ikeaFontKo;

							span {
								font: bold 12.6px/1.8 $ikeaFontKo;
							}
						}
						h4 {
							font: 12.6px/1.8 $ikeaFontKo;
						}
					}

					.storePhone {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}

					.storeSite {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}
				}

				&:nth-of-type(3) {
					width: 100%;
					padding-bottom: 32px;
					border-left: none;

					.storeName {
						.tit {
							font: bold 49px/1 $ikeaFontKo;
						}
					}

					.storeAddress {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}

					.storeOpen {
						width: 100%;

						p {
							font: 12.6px/1.8 $ikeaFontKo;

							span {
								font: bold 12.6px/1.8 $ikeaFontKo;
							}
						}
						h4 {
							font: 12.6px/1.8 $ikeaFontKo;
						}
					}

					.storePhone {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}

					.storeSite {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}
				}
				&:nth-of-type(4) {
					width: 100%;
					padding-bottom: 32px;
					border-left: none;

					.storeName {
						.tit {
							font: bold 49px/1 $ikeaFontKo;
						}
					}

					.storeAddress {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}

					.storeOpen {
						width: 100%;

						p {
							font: 12.6px/1.8 $ikeaFontKo;

							span {
								font: bold 12.6px/1.8 $ikeaFontKo;
							}
						}
						h4 {
							font: 12.6px/1.8 $ikeaFontKo;
						}
					}

					.storePhone {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}

					.storeSite {
						width: 100%;

						p {
							font: 12.6px/1 $ikeaFontKo;
						}
					}
				}
			}
		}

		.contactContainer {
			width: 100%;
			height: 500px;

			.contact {
				&:nth-of-type(1) {
					width: 100%;
					height: 230px;

					h2 {
						margin-top: 60px;
						font: bold 49px/1 $ikeaFontKo;
					}

					p {
						width: 100%;
						padding-right: 0px;
						font: 12.6px/1.8 $ikeaFontKo;
					}
				}

				&:nth-of-type(2) {
					width: 100%;
					padding: 43px 2vw 43px;
					font: 12.6px/1 $ikeaFontKo;
					border-top: none;
					border-left: none;
					padding-left: 0;

					input {
						font: 12.6px/1 $ikeaFontKo;
					}
					textarea {
						font: 12.6px/1 $ikeaFontKo;
					}

					.submitBtn {
						width: 100px;
						height: 37px;
						font: 11.2px/1 $ikeaFontKo;
					}
				}

				&:nth-of-type(3) {
					width: 100%;
					margin: 0px auto;
					padding: 0px 0vw 43px;
					border: none;
				}
			}
		}
	}
}
