#news {
	width: 100vw;
	height: 840px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 96px 10vw 96px;
	background-image: url(../img/news10.png);
	background-position: center;
	background-size: cover;
	opacity: 0.9;

	.newsContainer {
		width: 100%;
		height: 628px;
		display: flex;
		flex-wrap: wrap;

		.newsWrap {
			width: calc(100% / 3);
			height: 630px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			z-index: 2;

			&:nth-of-type(1) {
				flex: 1;
				font: 50px/1 $ikeaFont;
				color: white;
				align-items: center;
			}

			&:nth-of-type(2) {
				width: 100%;
				flex: 18;
				display: flex;
				flex-direction: column;

				.newsUp {
					flex: 3;
					display: flex;
					justify-content: space-between;

					.newsBox {
						display: flex;
						flex-wrap: wrap;
						border-radius: 10px;
						padding: 40px 3vw;

						&:nth-of-type(1) {
							width: 315px;
							height: 418px;
							border: 1.5px solid white;
							position: relative;
						}

						p {
							width: 100%;
							font: 18px/1 $ikeaFont;
							color: white;
							position: relative;
							z-index: 1000;
						}

						h2 {
							width: 100%;
							font: bold 26px/1 $ikeaFont;
							color: white;
							position: relative;
							z-index: 1000;
						}

						&:hover {
							background-image: url(../img/news10.png);
							background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
							box-shadow: 24px 21px 31px -1px rgba(33, 33, 33, 0.6);
							background-blend-mode: darken;
							border: none;

							&::before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								background: rgba(0, 0, 0, 0.2); /* 배경에 덧씌울 어두운 색상 */
							}
						}

						&:nth-of-type(2) {
							width: 315px;
							height: 418px;
							border: 1.5px solid white;
							margin-top: 3vw;
							position: relative;
						}

						p {
							width: 100%;
							font: 18px/1 $ikeaFont;
							color: white;
							position: relative;
							z-index: 1000;
						}

						h2 {
							width: 100%;
							font: bold 26px/1 $ikeaFont;
							color: white;
							position: relative;
							z-index: 1000;
						}

						&:hover {
							background-image: url(../img/news10.png);
							background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
							box-shadow: 24px 21px 31px -1px rgba(33, 33, 33, 0.6);
							background-blend-mode: darken;
							border: none;

							&::before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								background: rgba(0, 0, 0, 0.2); /* 배경에 덧씌울 어두운 색상 */
							}
						}

						&:nth-of-type(3) {
							width: 315px;
							height: 418px;
							border: 1.5px solid white;
							position: relative;
						}

						p {
							width: 100%;
							font: 18px/1 $ikeaFont;
							color: white;
							position: relative;
							z-index: 1000;
						}

						h2 {
							width: 100%;
							font: bold 26px/1 $ikeaFont;
							color: white;
							position: relative;
							z-index: 1000;
						}

						&:hover {
							background-image: url(../img/news10.png);
							background-position: center;
							background-repeat: no-repeat;
							background-size: cover;
							box-shadow: 24px 21px 31px -1px rgba(33, 33, 33, 0.6);
							background-blend-mode: darken;
							border: none;

							&::before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								background: rgba(0, 0, 0, 0.2); /* 배경에 덧씌울 어두운 색상 */
							}
						}
					}
				}

				.newsDown {
					flex: 1.5;
					display: flex;
					justify-content: center;
					align-items: center;

					button {
						width: 50px;
						height: 50px;
						border-radius: 50%;
						background: transparent;
						border: 1px solid white;
						font: 25px/1 $ikeaFont;
						color: white;
					}
				}
			}
			&:nth-of-type(3) {
				height: 628px;
				flex: 1;
				align-items: center;
				font: 50px/1 $ikeaFont;
				color: white;
			}
		}
	}
}
