#notice {
	width: 100vw;
	height: 860px;
	display: flex;
	background: $bgW;

	.grid {
		display: grid;
		grid-template-columns: 300px 50px 100px 50px 50px 50px 50px 300px;
		overflow: hidden;
		width: 80%;
		height: 860px;
		border: 1px solid rgba($grey, 0.7);
		z-index: 0;
		position: relative;

		&:nth-of-type(1) {
			width: 200px;
		}

		&:nth-of-type(8) {
			width: 200px;
		}
	}

	.marquee {
		width: 100vw;
		height: 120px;
		display: flex;
		overflow: hidden;
		flex-direction: column;
		position: absolute;
		margin-top: 38.5vw;
		z-index: 0;

		span {
			width: 100vw;
			height: 120px;
			font: 140px/1 $ikeaFont;
			color: $bgW;
			background: -webkit-linear-gradient(left, #32aaff 0%, #4edd8e 27%, #fadb29 64%, #f07569 100%);
			-webkit-text-stroke: 3px rgba(255, 255, 255, 0.01);
			-webkit-background-clip: text;
			// animation: marquee 20s linear;
			white-space: nowrap;
			will-change: transform;
			pointer-events: none;

			@keyframes marquee {
				from {
					transform: translateX(0%);
				}
				to {
					transform: translateX(-135%);
				}
			}
		}
	}
	.noticeContainer {
		padding: 150px 10vw 150px;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;

		.leftWrap {
			flex: 1;
			display: flex;
			flex-direction: column;

			.titWrap {
				flex: 2.8;
				align-items: center;
				position: relative;

				h2 {
					position: relative;
					font-size: 70px;
					top: 4vw;
				}

				P {
					width: 480px;
					position: relative;
					font: 20px/1 $ikeaFont;
					color: $fontColorGr;
					top: 6vw;
					text-align: justify;
					word-break: break-all;
				}
			}

			.loadingWrap {
				flex: 1.2;
				display: flex;
				justify-content: center;
				text-align: left;
				font: 26px/1 $ikeaFont;

				.progress-bar {
					overflow: hidden;
					width: calc(100% / 2);
					flex: 1.6;

					span {
						display: block;
						width: 19vw;
						height: 2px;
					}

					.bar {
						background: $grey;
					}

					.progress {
						animation: loader 8s ease infinite;
						background: $ikeaBl;
						padding: 1px;
						width: 0;
					}

					.progress-bar {
						left: 50%;
						max-width: 50%;
						position: absolute;
						top: 50%;
						transform: translate3d(-50%, -50%, 0);
					}

					@keyframes loader {
						0% {
							width: 0;
						}

						20% {
							width: 10%;
						}

						25% {
							width: 24%;
						}

						43% {
							width: 41%;
						}

						56% {
							width: 50%;
						}

						66% {
							width: 52%;
						}

						71% {
							width: 60%;
						}

						75% {
							width: 76%;
						}

						94% {
							width: 86%;
						}

						100% {
							width: 100%;
						}
					}
				}

				.loadingBtns {
					width: calc(100% / 2);
					flex: 1;
					margin-top: -0.6vw;
					color: $fontColorBl;
					font: 18/1 $ikeaFont;
				}
			}
		}

		.rightWrap {
			flex: 1.3;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.noticeBox {
				border-radius: 10px;
				position: relative;

				&:nth-child(odd) {
					margin-top: -3vw;
				}

				&:nth-child(even) {
					margin-top: -13vw;
				}

				&:nth-of-type(1) {
					width: 356px;
					height: 456px;
					background-image: url(../img/news14.png);
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					box-shadow: 0 19px 38px rgba(153, 153, 153, 0.2), 0 15px 12px rgba(155, 155, 155, 0.1);
					cursor: pointer;
				}

				&:nth-of-type(2) {
					width: 356px;
					height: 456px;
					background-image: url(../img/news13.png);
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					box-shadow: 0 19px 38px rgba(153, 153, 153, 0.2), 0 15px 12px rgba(155, 155, 155, 0.1);
					cursor: pointer;
				}
			}
		}
	}
}
