#sns {
	width: 100vw;
	height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #3589d5;

	&::after {
		content: '';
		background-image: url(../img/news12.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 750px;
		right: 0px;
		margin-right: 50%;
		top: 0px;
		width: calc(100% / 2);
		filter: brightness(0.7) blur(0.8px);
	}

	.snsContainer {
		width: 100vw;
		height: 810px;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		justify-content: center;
		align-items: center;
		z-index: 1;
		padding: 150px 1vw 140px;

		.snsWrap {
			width: calc(100% / 7);
			height: 100%;
			display: flex;
			flex-wrap: wrap;

			&:nth-of-type(1) {
				flex: 0.5;
				font: 70px/1 $ikeaFont;
				justify-content: center;
				color: transparent;
				-webkit-text-stroke: 1px $fontColorW;
				align-items: center;
				cursor: pointer;
			}
			&:nth-of-type(2) {
				flex: 0.5;
				height: 20%;
				justify-content: flex-start;
				font: 60px/1 $ikeaFont;
				color: transparent;
				transform: rotate(-90deg);
				-webkit-text-stroke: 1px $fontColorW;
			}
			&:nth-of-type(3) {
				flex: 2;
				width: 440px;
				height: 100%;
				border: 1px solid $bgW;
				border-radius: 50%;
				text-align: left;
				position: relative;

				h3 {
					font: 26px/1 $ikeaFont;
					color: $fontColorW;
					position: relative;
					top: 100px;
					left: 5vw;
				}
				h2 {
					font: 26px/1 $ikeaFont;
					color: $fontColorW;
					position: relative;
					top: 150px;
					left: 3.5vw;
				}

				p {
					font: 26px/1 $ikeaFont;
					color: $fontColorW;
					position: relative;
					top: 60px;
					left: 5vw;

					&:nth-of-type(2) {
						font: 16px/1 $ikeaFont;
						color: $fontColorW;
						position: relative;
						top: -5px;
						left: 5vw;
					}
				}
			}
			&:nth-of-type(4) {
				flex: 3;
				width: 100%;
				flex: 1;
				padding: 0;
				font: 70px/1 $ikeaFont;
				color: $fontColorBl;

				h4 {
					margin: 0px auto;
					text-orientation: upright;
					writing-mode: vertical-rl;
					white-space: nowrap;
					letter-spacing: 0.2px;
					color: transparent;
					-webkit-text-stroke: 1px white;
				}
			}
			&:nth-of-type(5) {
				flex: 2;
				width: 440px;
				height: 100%;
				border: 1px solid $bgW;
				border-radius: 50%;
				flex: 2;
				width: 440px;
				height: 100%;
				border: 1px solid $bgW;
				border-radius: 50%;
				text-align: left;
				position: relative;

				h3 {
					font: 26px/1 $ikeaFont;
					color: $fontColorW;
					position: relative;
					top: 100px;
					left: 5vw;
				}
				h2 {
					font: 26px/1 $ikeaFont;
					color: $fontColorW;
					position: relative;
					top: 150px;
					left: 3.5vw;
				}

				p {
					font: 26px/1 $ikeaFont;
					color: $fontColorW;
					position: relative;
					top: 60px;
					left: 5vw;

					&:nth-of-type(2) {
						font: 16px/1 $ikeaFont;
						color: $fontColorW;
						position: relative;
						top: -5px;
						left: 5vw;
					}
				}
			}
			&:nth-of-type(6) {
				flex: 0.5;
				flex: 0.5;
				height: 20%;
				justify-content: flex-start;
				font: 60px/1 $ikeaFont;
				color: transparent;
				transform: rotate(90deg);
				-webkit-text-stroke: 1px $fontColorW;
			}
			&:nth-of-type(7) {
				flex: 0.5;
				font: 70px/1 $ikeaFont;
				justify-content: center;
				color: transparent;
				-webkit-text-stroke: 1px $fontColorW;
				align-items: center;
				cursor: pointer;
			}
		}
	}
}
