#vids {
	width: 100vw;
	height: 700px;
	background: $bgW;
	padding: 96px 10vw 96px;
	display: flex;
	justify-content: center;
	align-items: center;

	.vidsContainer {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		.vidsTextWrap {
			flex: 1;
			display: flex;
			flex-wrap: wrap;

			.vidsTit {
				flex: 1.65;
				font: bold 26px/1 $ikeaFont;
				color: $fontColorBl;
			}

			.vidsSub {
				flex: 1;
				font: 18px/1 $ikeaFont;
				color: $fontColorGr;
				text-align: justify;
				word-break: break-all;
				letter-spacing: 0.1px;

				strong {
					font: bold 18px/1 $ikeaFont;
					color: $fontColorBl;
					letter-spacing: 0.1px;
				}
			}
		}

		.vidsVideoWrap {
			flex: 2.5;
			display: flex;
			gap: 30px;

			.video {
				width: calc(100% / 5);
				height: 100%;
				background: $boxGrey;

				&:nth-of-type(1) {
					flex: 1;
				}

				&:nth-of-type(2) {
					flex: 1;
				}

				&:nth-of-type(3) {
					flex: 1;
				}

				&:nth-of-type(4) {
					flex: 1;
				}

				&:nth-of-type(5) {
					flex: 1;
				}
				&.on {
					flex: 5;
					background: black;
				}
			}
		}
	}
}
