#vids {
	width: 100vw;
	height: 900px;
	background: $bgW;
	padding: 96px 10vw 120px;
	display: flex;
	justify-content: center;
	align-items: center;

	.vidsContainer {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		.vidsTextWrap {
			flex: 1;
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 1vw;

			.vidsTit {
				flex: 1.65;
				font: 70px/1 $ikeaFont;
				color: $fontColorBl;
			}

			.vidsSub {
				flex: 1;
				font: 26px/1 $ikeaFont;
				color: $fontColorGrC;
				text-align: justify;
				word-break: break-all;
				letter-spacing: 0.1px;

				strong {
					font: 26px/1 $ikeaFont;
					color: $fontColorBl;
					letter-spacing: 0.1px;
				}
			}
		}

		.vidsVideoWrap {
			flex: 2.5;
			display: flex;
			gap: 30px;

			.video {
				width: calc(100% / 5);
				height: 100%;
				background: $boxGrey;

				&:nth-of-type(1) {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					flex: 1;

					.vidsNum {
						flex: 1;
						width: 5vw;
						height: 20px;
						font: bold 23px/4.5 $ikeaFont;
						color: $fontColorBl;
						border-bottom: 2px solid $grey;
					}

					.vidsBarTit {
						flex: 3.5;
						font: 23px/1 $ikeaFont;
						color: $fontColorGr;
						writing-mode: vertical-rl;
						padding-top: 1.5vw;
						text-align: left;
					}

					&.on {
						flex: 5;
						background: black;
						animation: videoMove 0.5s linear;
						animation-fill-mode: backwards;
						animation-duration: 0.5s;
						position: relative;

						&.on::after {
							content: 'Discover Now';
							position: absolute;
							right: 0;
							bottom: 0;
							width: 209px;
							height: 71px;
							background: #623fe4;
							font: 18px/71px $ikeaFont;
							color: $fontColorW;
						}

						&.on::before {
							content: '01. \A Furniture \A Design';
							white-space: pre;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							text-align: left;
							font: 30px/1.3 $ikeaFont;
							color: $grey;
							padding: 35px 3vw;
						}
					}
				}

				&:nth-of-type(2) {
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					flex: 1;

					.vidsNum {
						flex: 1;
						width: 5vw;
						height: 20px;
						font: bold 23px/4.5 $ikeaFont;
						color: $fontColorBl;
						border-bottom: 2px solid $grey;
					}

					.vidsBarTit {
						flex: 3.5;
						font: 23px/1 $ikeaFont;
						color: $fontColorGr;
						writing-mode: vertical-rl;
						padding-top: 1.5vw;
						text-align: left;
					}

					&.on {
						flex: 5;
						background: black;
						animation: videoMove 0.5s linear;
						animation-fill-mode: backwards;
						animation-duration: 0.5s;
						position: relative;

						&.on::after {
							content: 'Discover Now';
							position: absolute;
							right: 0;
							bottom: 0;
							width: 209px;
							height: 71px;
							background: #623fe4;
							font: 18px/71px $ikeaFont;
							color: $fontColorW;
						}

						&.on::before {
							content: '02. \A Branding \A Design';
							white-space: pre;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							text-align: left;
							font: 30px/1.3 $ikeaFont;
							color: $grey;
							padding: 35px 3vw;
						}
					}
				}

				&:nth-of-type(3) {
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					flex: 1;

					.vidsNum {
						flex: 1;
						width: 5vw;
						height: 20px;
						font: bold 23px/4.5 $ikeaFont;
						color: $fontColorBl;
						border-bottom: 2px solid $grey;
					}

					.vidsBarTit {
						flex: 3.5;
						font: 23px/1 $ikeaFont;
						color: $fontColorGr;
						writing-mode: vertical-rl;
						padding-top: 1.5vw;
						text-align: left;
					}
					&.on {
						flex: 5;
						background: black;
						animation: videoMove 0.5s linear;
						animation-fill-mode: backwards;
						animation-duration: 0.5s;
						position: relative;

						&.on::after {
							content: 'Discover Now';
							position: absolute;
							right: 0;
							bottom: 0;
							width: 209px;
							height: 71px;
							background: #623fe4;
							font: 18px/71px $ikeaFont;
							color: $fontColorW;
						}

						&.on::before {
							content: '03. \A Video \A Design';
							white-space: pre;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							text-align: left;
							font: 30px/1.3 $ikeaFont;
							color: $grey;
							padding: 35px 3vw;
						}
					}
				}

				&:nth-of-type(4) {
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					flex: 1;

					.vidsNum {
						flex: 1;
						width: 5vw;
						height: 20px;
						font: bold 23px/4.5 $ikeaFont;
						color: $fontColorBl;
						border-bottom: 2px solid $grey;
					}

					.vidsBarTit {
						flex: 3.5;
						font: 23px/1 $ikeaFont;
						color: $fontColorGr;
						writing-mode: vertical-rl;
						padding-top: 1.5vw;
						text-align: left;
					}

					&.on {
						flex: 5;
						background: black;
						animation: videoMove 0.5s linear;
						animation-fill-mode: backwards;
						animation-duration: 0.5s;
						position: relative;

						&.on::after {
							content: 'Discover Now';
							position: absolute;
							right: 0;
							bottom: 0;
							width: 209px;
							height: 71px;
							background: #623fe4;
							font: 18px/71px $ikeaFont;
							color: $fontColorW;
						}

						&.on::before {
							content: '04. \A Outdoor \A Design';
							white-space: pre;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							text-align: left;
							font: 30px/1.3 $ikeaFont;
							color: $grey;
							padding: 35px 3vw;
						}
					}
				}

				&:nth-of-type(5) {
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					flex: 1;

					.vidsNum {
						flex: 1;
						width: 5vw;
						height: 20px;
						font: bold 23px/4.5 $ikeaFont;
						color: $fontColorBl;
						border-bottom: 2px solid $grey;
					}

					.vidsBarTit {
						flex: 3.5;
						font: 23px/1 $ikeaFont;
						color: $fontColorGr;
						writing-mode: vertical-rl;
						padding-top: 1.5vw;
						text-align: left;
					}
				}

				&.on {
					flex: 5;
					background: black;
					animation: videoMove 0.5s linear;
					animation-fill-mode: backwards;
					animation-duration: 0.5s;
					position: relative;

					&.on::after {
						content: 'Discover Now';
						position: absolute;
						right: 0;
						bottom: 0;
						width: 209px;
						height: 71px;
						background: #623fe4;
						font: 18px/71px $ikeaFont;
						color: $fontColorW;
					}

					&.on::before {
						content: '05. \A Cooking \A Design';
						white-space: pre;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						text-align: left;
						font: 30px/1.3 $ikeaFont;
						color: $grey;
						padding: 35px 3vw;
					}

					@keyframes videoMove {
						from {
							flex: 1;
							writing-mode: vertical-rl;
						}
						to {
							flex: 5;
						}
					}
				}
			}
		}
	}
}
