header {
	width: 24.2%;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: $ikeaBl;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;

	.rightBar {
		width: 24.2%;
		margin-top: 110px;
		height: 100vh;
		background: $black;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;
		display: none;

		&.rgt {
			width: 24.2%;
			background: $black;
			position: fixed;
			top: 0;
			right: 0;
			display: block;
			animation: moveR 0.5s linear;
			animation-fill-mode: backwards;
			animation-delay: 0s;

			@keyframes moveR {
				from {
					height: 0%;
				}
				to {
					height: 100%;
				}
			}
		}
	}

	.leftBar {
		height: 100%;
		width: 50.4%;
		background: $black;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		top: 0;
		animation: move 0.5s linear;
		animation-fill-mode: backwards;
		animation-delay: 0s;
		display: none;
		overflow: hidden;

		.leftBarWrap {
			width: 100%;

			.leftBarTit {
				height: 20px;
				text-align: left;
				display: flex;
				justify-content: end;
				flex-direction: column;
				padding: 0px 10vw 0px;

				h2 {
					font: 70px/1 $ikeaFontKo;
					color: $grey;
					animation: appear 0.5s linear;
					animation-fill-mode: backwards;
					animation-delay: 0.5s;
					opacity: 1;

					@keyframes appear {
						from {
							opacity: 0;
						}
						to {
							opacity: 1;
						}
					}
				}
			}

			.leftBarList {
				width: 100%;
				height: 300px;
				padding: 60px 0px 60px;
				text-align: left;
				padding: 60px 10vw 0px;

				.circle {
					position: absolute;
					top: 0;
					left: 0;
					width: 150px;
					height: 150px;
					border-radius: 50%;
					background-color: $bgW;
					transform: translate(-50%, -50%);
					mix-blend-mode: difference;
				}

				.listLine {
					width: 100px;
					height: 1px;
					background: $grey;
					margin-bottom: 30px;
					animation: appear 0.5s linear;
					animation-fill-mode: backwards;
					animation-delay: 0.5s;
					opacity: 1;

					@keyframes appear {
						from {
							opacity: 0;
						}
						to {
							opacity: 1;
						}
					}
				}
				ul {
					cursor: pointer;

					&:nth-of-type(2) {
						display: flex;
						width: 100%;
						flex-wrap: wrap;
						float: left;
						margin-top: 30px;
						gap: 0px;
						font: 24px/35px $ikeaFontKo;
						color: $fontColorGr;
						cursor: pointer;

						li {
							&:nth-of-type(1) {
								&:nth-of-type(1):after {
									content: '|';
									padding-left: 15px;
									padding-right: 15px;
								}
							}
						}
					}

					&:nth-of-type(3) {
						display: flex;
						float: left;
						margin-top: 20px;
						gap: 30px;
						font: 24px/35px $ikeaFontKo;
						color: $fontColorGr;
						cursor: pointer;
					}

					li {
						font: 24px/35px $ikeaFontKo;
						color: $fontColorGr;
						animation: appear 0.5s linear;
						animation-fill-mode: backwards;
						animation-delay: 0.5s;
						opacity: 1;

						.fa-twitter:hover {
							color: #0398e9;
						}

						.fa-facebook:hover {
							color: #3053b6;
						}

						.fa-envelope:hover {
							color: #e9e9e9;
						}

						a {
							&:visited {
								color: $fontColorGr;
								cursor: pointer;

								a:link {
									color: $fontColorGr;
									cursor: pointer;
								}
								a:visited {
									color: $fontColorGr;
									cursor: pointer;
								}
								a:active {
									color: $fontColorGr;
									cursor: pointer;
								}
								a:hover {
									color: $fontColorGr;
									cursor: pointer;
								}
							}
						}

						@keyframes appear {
							from {
								opacity: 0;
							}
							to {
								opacity: 1;
							}
						}
					}
				}
			}
		}

		&.lft {
			background: $black;
			position: fixed;
			left: 0;
			top: 0;
			display: block;
			animation: moveL 0.5s linear;
			animation-fill-mode: backwards;
			animation-delay: 0s;
			display: flex;

			@keyframes moveL {
				from {
					width: 0%;
				}
				to {
					width: 50.5%;
				}
			}
		}
	}

	.menu {
		flex: 1.5;
		font: 35px/110px $ikeaFontKo;
		color: $grey;
		cursor: pointer;

		.fa-xmark {
			display: none;
			animation: roateCloseBtn 0.5s ease-in;
			animation-fill-mode: backwards;
			animation-duration: 0.5s;

			@keyframes roateCloseBtn {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(720deg);
				}
			}
		}
	}

	.logo {
		flex: 4;
		cursor: pointer;

		p {
			font: bold 35px/110px $ikeaFontKo;
			color: $grey;
			margin-right: 50px;

			a {
				&:visited {
					color: $grey;
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		width: 37%;

		.rightBar {
			width: 37%;

			&.rgt {
				width: 37%;
			}
		}

		.leftBar {
			height: 100%;
			width: 50.4%;
			background: $black;
			position: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			left: 0;
			top: 0;
			animation: move 0.5s linear;
			animation-fill-mode: backwards;
			animation-delay: 0s;
			display: none;
			overflow: hidden;

			.leftBarWrap {
				width: 100%;

				.leftBarTit {
					height: 20px;
					text-align: left;
					display: flex;
					justify-content: end;
					flex-direction: column;
					padding: 0px 10vw 0px;

					h2 {
						font: 70px/1 $ikeaFontKo;
						color: $grey;
						animation: appear 0.5s linear;
						animation-fill-mode: backwards;
						animation-delay: 0.5s;
						opacity: 1;

						@keyframes appear {
							from {
								opacity: 0;
							}
							to {
								opacity: 1;
							}
						}
					}
				}

				.leftBarList {
					width: 100%;
					height: 300px;
					padding: 60px 0px 60px;
					text-align: left;
					padding: 60px 10vw 0px;

					.circle {
						position: absolute;
						top: 0;
						left: 0;
						width: 150px;
						height: 150px;
						border-radius: 50%;
						background-color: $bgW;
						transform: translate(-50%, -50%);
						mix-blend-mode: difference;
					}

					.listLine {
						width: 100px;
						height: 1px;
						background: $grey;
						margin-bottom: 30px;
						animation: appear 0.5s linear;
						animation-fill-mode: backwards;
						animation-delay: 0.5s;
						opacity: 1;

						@keyframes appear {
							from {
								opacity: 0;
							}
							to {
								opacity: 1;
							}
						}
					}

					li {
						font: 24px/35px $ikeaFontKo;
						color: $fontColorGr;
						animation: appear 0.5s linear;
						animation-fill-mode: backwards;
						animation-delay: 0.5s;
						opacity: 1;

						@keyframes appear {
							from {
								opacity: 0;
							}
							to {
								opacity: 1;
							}
						}
					}
				}
			}

			&.lft {
				background: $black;
				position: fixed;
				left: 0;
				top: 0;
				display: block;
				animation: moveL 0.5s linear;
				animation-fill-mode: backwards;
				animation-delay: 0s;
				display: flex;

				@keyframes moveL {
					from {
						width: 0%;
					}
					to {
						width: 50.5%;
					}
				}
			}
		}

		.menu {
			font: 35px/110px $ikeaFontKo;

			.fa-bars-staggered {
				margin-left: 50px;
			}
		}

		.logo {
			margin-left: 10px;

			p {
				font: bold 35px/110px $ikeaFontKo;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	header {
		width: 50%;
		height: 95px;

		.rightBar {
			width: 50%;

			&.rgt {
				width: 49.6%;
				margin-top: 95px;
			}
		}

		.leftBar {
			height: 100%;
			width: 50.4%;
			background: $black;
			position: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			left: 0;
			top: 0;
			animation: move 0.5s linear;
			animation-fill-mode: backwards;
			animation-delay: 0s;
			display: none;
			overflow: hidden;

			.leftBarWrap {
				width: 100%;

				.leftBarTit {
					height: 20px;
					text-align: left;
					display: flex;
					justify-content: end;
					flex-direction: column;
					padding: 0px 5vw 0px;

					h2 {
						font: 44px/1 $ikeaFontKo;
						color: $grey;
						animation: appear 0.5s linear;
						animation-fill-mode: backwards;
						animation-delay: 0.5s;
						opacity: 1;

						@keyframes appear {
							from {
								opacity: 0;
							}
							to {
								opacity: 1;
							}
						}
					}
				}

				.leftBarList {
					width: 100%;
					height: 300px;
					padding: 60px 0px 60px;
					text-align: left;
					padding: 60px 5vw 0px;

					.circle {
						position: absolute;
						top: 0;
						left: 0;
						width: 150px;
						height: 150px;
						border-radius: 50%;
						background-color: $bgW;
						transform: translate(-50%, -50%);
						mix-blend-mode: difference;
					}

					.listLine {
						width: 100px;
						height: 1px;
						background: $grey;
						margin-bottom: 30px;
						animation: appear 0.5s linear;
						animation-fill-mode: backwards;
						animation-delay: 0.5s;
						opacity: 1;

						@keyframes appear {
							from {
								opacity: 0;
							}
							to {
								opacity: 1;
							}
						}
					}

					li {
						font: 24px/35px $ikeaFontKo;
						color: $fontColorGr;
						animation: appear 0.5s linear;
						animation-fill-mode: backwards;
						animation-delay: 0.5s;
						opacity: 1;

						@keyframes appear {
							from {
								opacity: 0;
							}
							to {
								opacity: 1;
							}
						}
					}
				}
			}

			&.lft {
				background: $black;
				position: fixed;
				left: 0;
				top: 0;
				display: block;
				animation: moveL 0.5s linear;
				animation-fill-mode: backwards;
				animation-delay: 0s;
				display: flex;

				@keyframes moveL {
					from {
						width: 0%;
					}
					to {
						width: 50.5%;
					}
				}
			}
		}

		.menu {
			font: 30px/95px $ikeaFontKo;
		}

		.logo {
			padding-left: 20px;

			p {
				font: bold 30px/95px $ikeaFontKo;
				margin-left: 15px;
			}
		}
	}
}
