header {
	width: 25%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: $ikeaBl;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;

	.menu {
		flex: 1.5;
		font: 25px/1 $ikeaFont;
		color: $grey;
	}

	.logo {
		flex: 5;
		font: bold 28px/1 $ikeaFont;
		color: $grey;
	}
}
